<div class="basicrow">
  <app-header></app-header>

  <div class="basicrow m-top m-bott">
    <div class="container">
      <div class="basicrow">
        <div class="fulltitle f-btitle m-bott-i">
          <i class="fa fa-laptop" aria-hidden="true"></i> Servicio Universal / Aceptación de términos
        </div>

        <div class="basicrow m-top-i m-bott text-center"><app-steplife></app-steplife></div>

        <div class="basicrow text-center">
          <div class="shortcont">
            <div class="basicrow">
              <div class="basicrow f-lbig f-black roboto-m">Informaci&oacute;n de Compra</div>

              <div class="basicrow m-top">
                <label class="label-f">&#42; Restricci&oacute;n LDI</label>

                <div class="basicrow m-top-u-i f-reg f-black roboto-r">
                  <div class="popopt">
                    <input
                      type="radio"
                      name="ldiRestriction"
                      [value]="true"
                      [(ngModel)]="model.ldiRestriction"
                      [formControl]="form.controls['ldiRestriction']"
                    />
                    Si
                  </div>

                  <div class="popopt">
                    <input
                      type="radio"
                      name="ldiRestriction"
                      [value]="false"
                      [(ngModel)]="model.ldiRestriction"
                      [formControl]="form.controls['ldiRestriction']"
                    />
                    No
                  </div>
                </div>
              </div>

              <div class="basicrow">
                <div class="basicrow m-top">
                  <div class="termgbg">
                    <div class="basicrow roboto-b f-reg">&#42; T&eacute;rminos y Condiciones</div>

                    <div class="termr-t m-top-ii" style="    font-size: 1.5rem;">
                      “Con este consentimiento AUTORIZO el uso de mis iniciales y firmas en formato electrónico, y
                      CERTIFICO que son de mi autoría como si estuvieran en manuscrito. Específicamente, ACEPTO que el
                      uso de mis iniciales y firma electrónica para los propósitos de esta solicitud es legal y
                      vinculante, y que no se le restará efecto o validez al mismo por el hecho de estar en formato
                      electrónico.
                    </div>

                    <div class="basicrow m-top">
                      <a
                        (click)="setAceptationTerms(true)"
                        class="btns termdef pull-right vcenter"
                        [ngClass]="{
                          gray: model.aceptationTerm,
                          blue: !model.aceptationTerm
                        }"
                      >
                        <span class="tabcell"> Aceptar T&eacute;rminos </span>
                      </a>

                      <a
                        (click)="setAceptationTerms(false)"
                        class="linkdefs termdef"
                        [ngClass]="{
                          grayLink: model.aceptationTerm,
                          blue: !model.aceptationTerm
                        }"
                      >
                        No Acepto
                      </a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="redbgbadmsg error m-top-i" *ngIf="model.aceptationTerm === false">
                <i class="fa fa-times-circle" aria-hidden="true"></i>

                Debe aceptar los Términos y Condiciones para poder procesar su solicitud
              </div>

              <div class="basicrow">
                <div class="basicrow text-center m-top-i">
                  <a
                    (click)="goToPreviewViewAndFirm()"
                    class="btns def-i red pull-right vcenter gray"
                    [ngClass]="{ red: validateForm() }"
                  >
                    <span class="tabcell">
                      Continuar&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i>
                    </span>
                  </a>

                  <!--                  <a (click)="goToAccountCreation()" class="btns def-i gray pull-left vcenter">-->
                  <!--                    <span class="tabcell">-->
                  <!--                      <i class="fa fa-angle-left" aria-hidden="true"></i>&nbsp;&nbsp;Reiniciar-->
                  <!--                    </span>-->
                  <!--                  </a>-->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
